<h2 mat-dialog-title>Добавить товар к продавцу {{ seller.name }}</h2>  
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">  
  <mat-dialog-content>  
    <!-- Переключатель маркетплейсов -->  
    <div class="row">  
      <div class="col-2 input-label">Площадка</div>  
      <div class="col-10">  
        <mat-button-toggle-group formControlName="marketplace" aria-label="Выберите площадку" appearance="legacy">  
          <mat-button-toggle value="OZON">OZON</mat-button-toggle>  
          <mat-button-toggle value="Wildberries">Wildberries</mat-button-toggle>  
        </mat-button-toggle-group>  
      </div>  
    </div>  

    <!-- Компонент DragAndDrop для загрузки Excel файла -->  
    <app-drag-and-drop (fileLoaded)="onFileLoaded($event)"></app-drag-and-drop>  

    <!-- Блок для OZON -->  
    <div *ngIf="productForm.get('marketplace')?.value === 'OZON'">  
      <!-- Поля ручного ввода для OZON -->  
      <div class="row" *ngFor="let field of ozonManualFields">  
        <div class="col-2 input-label">{{ field.header }}</div>  
        <div class="col-10">  
          <input matInput type="text" [formControlName]="field.key" class="input-field" />  
        </div>  
      </div>  
      <!-- Вычисляемые поля для OZON (отображаются как текст) -->  
      <div class="row" *ngFor="let computed of ozonComputedFields">  
        <div class="col-2 input-label">{{ computed.header }}</div>  
        <div class="col-10">  
          <span class="computed-value">{{ productForm.get(computed.key)?.value }}</span>  
        </div>  
      </div>  
    </div>  

    <!-- Блок для Wildberries -->  
    <div *ngIf="productForm.get('marketplace')?.value === 'Wildberries'">  
      <!-- Поля ручного ввода для Wildberries -->  
      <div class="row" *ngFor="let field of wildberriesManualFields">  
        <div class="col-2 input-label">{{ field.header }}</div>  
        <div class="col-10">  
          <input matInput type="text" [formControlName]="field.key" class="input-field" />  
        </div>  
      </div>  
      <!-- Вычисляемые поля для Wildberries (отображаются как текст) -->  
      <div class="row" *ngFor="let computed of wildberriesComputedFields">  
        <div class="col-2 input-label">{{ computed.header }}</div>  
        <div class="col-10">  
          <span class="computed-value">{{ productForm.get(computed.key)?.value }}</span>  
        </div>  
      </div>  
    </div>  
  </mat-dialog-content>  
  <mat-dialog-actions align="end">  
    <button mat-button type="button" (click)="onCancel()">Отмена</button>  
    <button mat-button color="primary" type="submit">Подтвердить</button>  
  </mat-dialog-actions>  
</form>