<header>
  <button class="btn" (click)="router.navigate([''])">
    <img class="logo" src="logo-sm.jpg" alt="БО" />
  </button>
  <div style="display: flex; justify-content: center; width: 60vw;">
  <div class="filters-title">
    <div>Фильтры</div>
  </div>
</div>
  <!-- Dropdown меню -->
  <div class="dropdown">
    <button
      class="btn user-btn"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <div class="user-icon">{{ user.username[0] }}</div>
      <div>{{ user.username }}</div>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <button (click)="logoutUser()" class="dropdown-item">Выйти</button>
    </div>
  </div>
</header>

<section class="container mb-5">
  <!-- Форма фильтров -->

  <form [formGroup]="filtersForm" (ngSubmit)="applyFilters()">
    <!-- Фильтр по продавцу -->
    <div class="row">
      <div class="col-2 input-label">ПРОДАВЕЦ</div>
      <div class="col-10">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Выберите продавца</mat-label>
          <mat-select formControlName="seller">
            <mat-option *ngFor="let seller of sellers" [value]="seller">
              {{ seller.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-10">
        <button
          class="filter-btn"
          style="background-color: white; color: black; border: 1px solid black"
          (click)="openAddSellerDialog()"
        >
          Добавить продавца
        </button>
      </div>
    </div>

    <!-- Переключатель маркетплейсов -->
    <div class="row" style="align-items: center; margin: 1rem 0">
      <div class="col-2 input-label">ПЛОЩАДКА</div>
      <div class="col-10">
        <mat-button-toggle-group
          formControlName="marketplace"
          aria-label="Выберите площадку"
          appearance="legacy"
          class="toggle-group"
        >
          <mat-button-toggle value="OZON">OZON</mat-button-toggle>
          <mat-button-toggle value="Wildberries">Wildberries</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </form>

  <!-- Таблица для отображения товаров -->
  <div style="overflow-x: auto; margin-top: 2rem">
    <!-- Таблица для товаров OZON -->
    <div *ngIf="filtersForm.value.marketplace === 'OZON'">
      <table class="my-table mb-3">
        <thead>
          <tr class="table-title">
            <th *ngFor="let col of ozonColumns">{{ col.header }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let prod of products">
            <tr
              *ngIf="
                prod.marketplace === 'OZON' &&
                prod.seller === filtersForm.value.seller?.id
              "
              (click)="selectProduct(prod)"
              [class.selected]="selectedProduct?.id === prod.id"
            >
              <td *ngFor="let col of ozonColumns">
                {{ prod.details[col.key] }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <!-- Таблица для товаров Wildberries -->
    <div *ngIf="filtersForm.value.marketplace === 'Wildberries'">
      <table class="my-table mb-3">
        <thead>
          <tr class="table-title">
            <th *ngFor="let col of wildberriesColumns">{{ col.header }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let prod of products">
            <tr
              *ngIf="
                prod.marketplace === 'Wildberries' &&
                prod.seller === filtersForm.value.seller?.id
              "
              (click)="selectProduct(prod)"
              [class.selected]="selectedProduct?.id === prod.id"
            >
              <td *ngFor="let col of wildberriesColumns">
                {{ prod.details[col.key] }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="add-btns">
    <div>
      <button
        class="filter-btn"
        style="margin-right: 16px"
        (click)="openAddProductDialog()"
      >
        Добавить товар
      </button>
      <button
        class="filter-btn"
        style="margin-right: 16px"
        [disabled]="!selectedProduct"
        (click)="openAddProductDialog()"
      >
        Изменить товар
      </button>
      <button
        class="filter-btn red"
        style="margin-right: 16px"
        [disabled]="!selectedProduct"
        (click)="deleteProduct()"
      >
        Удалить товар
      </button>
    </div>
    <div>
      <button
      class="filter-btn"
      [disabled]="products.length === 0"
      (click)="createReport()"
    >
      Создать отчет
    </button>
    </div>
  </div>
</section>
